@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0430de;
  width: 100wh;
  height: 100vh;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: .1em;
}

header {
  margin: 2em 0;
  text-align: center;
}

input {
  width: 70%;
  height: 4em;
  padding: .5em;
  position: relative;
  left: 15%;
  border-radius: .5em;
}

.output {
  width: 90%;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  margin: 2em auto;
  overflow: scroll;
  overflow-x: hidden;
  padding: 5em;
}

#country-item {
  min-width: 50%;
  height: auto;
  border: none;
  border-radius: .5em;
  padding: 2em 4.5em;
  margin: 2em auto;
  background-color: #0e0e35de;
}

#country-item > *  {
  margin: 1em;
}

#country-item  img  {
  margin-left: 2em;
}

#country-item:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

strong {
  margin-left: 2em;
}

/* width */
::-webkit-scrollbar {
  width: 2em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 1em;
}